rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function hasPermissionLevel(level) {
      return isSignedIn() &&
        get(/databases/$(database)/documents/members/$(request.auth.uid)).data.permissionLevel == level;
    }

    function hasMinPermissionLevel(level) {
      return isSignedIn() &&
        get(/databases/$(database)/documents/members/$(request.auth.uid)).data.permissionLevel >= level;
    }

    match /globeEvents/{eventId} {
      allow read: if true;
      allow write: if false;
    }

    match /siteConfig/{docId} {
      allow read: if docId == "globe";
      allow write: if false;
    }

    match /globeEventReviews/{reviewId} {
      allow read, write: if hasPermissionLevel(3);
    }

    match /greenProposalSubmissions/{submissionId} {
      allow create: if isSignedIn() &&
        request.resource.data.uid == request.auth.uid;
      allow read: if isSignedIn() &&
        (resource.data.uid == request.auth.uid || hasPermissionLevel(3));
      allow update: if isSignedIn() &&
        (resource.data.uid == request.auth.uid || hasPermissionLevel(3));
      allow delete: if isSignedIn() &&
        (resource.data.uid == request.auth.uid || hasPermissionLevel(3));
    }

    match /memberGlobeSubmissions/{submissionId} {
      allow create: if isSignedIn() &&
        hasMinPermissionLevel(2) &&
        request.resource.data.uid == request.auth.uid;
      allow read: if isSignedIn() &&
        (resource.data.uid == request.auth.uid || hasPermissionLevel(3));
      allow update: if isSignedIn() &&
        (
          (resource.data.uid == request.auth.uid && hasMinPermissionLevel(2)) ||
          hasPermissionLevel(3)
        );
      allow delete: if isSignedIn() &&
        (
          (resource.data.uid == request.auth.uid && hasMinPermissionLevel(2)) ||
          hasPermissionLevel(3)
        );
    }

    match /members/{userId} {
      allow read, create, update: if isOwner(userId) || hasPermissionLevel(3);
      allow delete: if false;
    }
  }
}
